#testimonials
  color: $secondary
  background: $gray
  overflow: hidden
  padding: 3rem 1rem
  +bp(md)
    padding-top: 0
    padding-bottom: 0

  .block
    color: $white
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-rows: auto auto
    padding-bottom: 1rem
    +bp(md)
      margin-right: -3rem

    .block-img
      grid-area: 1/1/2/2

    .block-nav
      grid-area: 1/2/2/3
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: auto auto

      .block-item
        position: relative
        +bp(sm)
          &:first-child::after
            +center(y)
            content: ""
            background: $black
            width: 0
            height: 0
            border-left: 1rem solid $black
            border-top: 1rem solid $gray
            border-bottom: 1rem solid $gray
            right: -1rem
            z-index: 99999  
            +bp(md)
              right: 1rem

        .icon-wrap
          width: 100%
          text-align: center
          +center
          i
            font-size: 4rem
            margin: 0 5px
            cursor: pointer
            +bp(sm)
              font-size: 2rem
            +bp(md)
              font-size: 3rem
              

  .client-test
    +bp(md)
      padding-top: 1rem
    +bp(xl)
      padding-top: 4rem
      
    .client-name
      vertical-align: middle
      text-transform: uppercase
      margin-bottom: 1rem
      font-size: 1.4rem
      +bp(md)
        font-size: 1.6rem
      +bp(lg)
        font-size: 2rem
      span
        font-size: 0.8rem
        +bp(md)
          font-size: 0.9rem
        +bp(lg)
          font-size: 1rem
    p
      font-size: 0.8rem
      +bp(md)
        font-size: 1rem

    




    